html {
	height: 100%;
}
body {
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.mainDiv{
	min-height: 100vh;
	min-width: 0;
	position: relative;
	display: flex;
	flex-direction: column;
}
.page-title{
	font-weight: 700;
	font-size: 1.6rem;
}

.wrapper h4{
	font-weight: 600;
	font-size: 1.3rem;
	text-align: center;
	line-height: 1.8rem;
}
.container-1500{
	max-width: 1500px;
}
.wrapper{
	flex-grow: 1;
}
.footer{
	margin-top: auto;
}



.dashboard-inner {
	display: flex;
	margin-top: 50px;
}

.bd-slide {
	/* background: red; */
	flex: 0 0 175px;
	margin-top: 60px;
	margin-right: 5px;
    position: relative;
}
.bd-content {
	/* background: yellow; */
	flex: 1;
}

.graphHeader {
	display: flex;
	border-bottom: 1px solid #e3e3e3;
	min-height: 22px;
}
.ratio-rate {
	/* margin-top: 1px; */
	position: relative;
}
.ratio-rate span {
	margin-top: 1px;
    position: absolute;
    bottom: 0;
    bottom: 10px;
    transform: translate(15px, 0);
    /* transform: translate(-10PX, 0); */
    /* margin: 0 auto; */
    /* left: 0; */
    right: 0;
}
.ratio-0 span {
	left: -20px;
}
.ratio-1 {
	flex: 0 0 10%;
	position: relative;
}
.ratio-1::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-1::after {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
	bottom: 0;
	right: 0;
}

.ratio-2 {
	flex: 0 0 10%;
	position: relative;
}
.ratio-2::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-3 {
	flex: 0 0 10%;
}
.ratio-3::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-4 {
	flex: 0 0 10%;
}
.ratio-4::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-5 {
	flex: 0 0 10%;
}
.ratio-5::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-6 {
	flex: 0 0 10%;
}
.ratio-6::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-7 {
	flex: 0 0 10%;
}
.ratio-7::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-8 {
	flex: 0 0 10%;
}
.ratio-8::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-9 {
	flex: 0 0 10%;
}
.ratio-9::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}
.ratio-10 {
	flex: 0 0 10%;
}
.ratio-10::before {
    content: '';
    position: absolute;
    background: #e3e3e3;
    width: 2px;
    height: 10px;
    bottom: 0;
}

.btn {
	width: 100%;
	background: #97d02b;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    min-height: 29px;
    text-align: right;
    box-shadow: none;
}
.detail-view {
	/* padding-top: 20px; */
	/* padding-bottom: 10px; */
	min-height:93px;   
	position: relative; 
}
.down-arrow::before {
    content: '';
    width: 3px;
    bottom:0px;
    background: #97d02b;
    position: absolute;
    left: -40px;
    top:35px;
    z-index: -1;
    display: none;

}
.bd-slide .btn::after {
	content: '';
    width: 5px;
    height: 5px;
    /* background: red; */
    position: absolute;
    right: 28px;
    top: -13px;
    z-index: 1;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-top-color: #97d02b;
    border-right-color: #97d02b;
}

.detail-content {
	/* border-bottom: 3px dashed #ddd; */
	padding-bottom: 10px;
    min-height: 37px;
}
.green {
	background: #97d02b;
}
.detail-btns {
	padding-top: 20px;
	position: relative;
	display: flex;
}

.mb-6 {
	margin-bottom:60px;
}

.height-01{
    min-height: 250px;
}

.height-02{
    min-height:285px;
}


/* btns */

.dark-orange-btn {
	width: 17px;
	height: 17px;
	background: #ff7f10;
	border-radius: 50px;
	display: block;
	border: 1px solid #ff7f10;
}
.light-orange-btn {
	width: 17px;
	height: 17px;
	border-radius: 50px;
	display: block;
	background: #ffbb78;
	border: 1px solid #ffbb78;
}
.white-btn {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	display: block;
	background: #fff;
	border:2px solid #000;

}
.dark-green-btn {
	width: 17px;
	height: 17px;
	border-radius: 50px;
	display: block;
	background: #2ba02b;
	border: 1px solid #2ba02b;

}
.light-green-btn {
	width: 17px;
	height: 17px;
	border-radius: 50px;
	display: block;
	background: #97df8a;
	border: 1px solid #97df8a;

}
.dark-red-btn {
	width: 17px;
	border-radius: 50px;
	display: block;
	height: 17px;
	background: #d62628;
	border: 1px solid #d62628;
}
.light-red-btn {
	width: 17px;
	border-radius: 50px;
	display: block;
	height: 17px;
	background: #ff9896;
	border: 1px solid #ff9896;

}

.red-line{
    overflow: hidden;
} 

.red-line .dark-green-btn:before{
 content:"";
 position: absolute;
 background:#d62628;
 height: 20px;
 right: 0;
 left: 0;
 z-index: -1;
 border-radius: 50%;
}

/* .red-line:before{
 content:"";
 position: absolute;
 background:#d62628;
 height: 20px;
 right: 0;
 left: 0;
}
 */

.description{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.36);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.36);
top:5px;
width: 45%;
}
.description p{
    margin-bottom: 0;
    font-size: 14px;        
}

.disable{
    opacity: 0.3;
}

.light-green-btn,.dark-green-btn,.light-orange-btn,.white-btn,.dark-red-btn,.light-red-btn{
    position: absolute;
}

/* .visit-details */

.visit-details .light-orange-btn {
	position: absolute;
    
}
.visit-details .light-green-btn {
	position: absolute;
  
}
.visit-details .dark-green-btn {
	position: absolute;
 
}
.visit-details .white-btn {
	position: absolute;

}
.visit-details .dark-red-btn {
	position: absolute;
    
}
.visit-details .light-red-btn {
	position: absolute;
  
}


/* be-backs-details */

.be-backs-details .light-green-btn {
	position: absolute;
    
}
.be-backs-details .dark-green-btn {
	position: absolute;
    
}
.be-backs-details .white-btn {
	position: absolute;
    
}
.be-backs-details .dark-red-btn {
	position: absolute;
    
}
.be-backs-details .light-red-btn {
	position: absolute;
   
}

/* Proposal */

.Proposal-details .light-green-btn {
	position: absolute;
    left: 32%;
}
.Proposal-details .dark-green-btn {
	position: absolute;
    
}
.Proposal-details .white-btn {
	position: absolute;
   
}
.Proposal-details .dark-red-btn {
	position: absolute;
    
}
.Proposal-details .light-red-btn {
	position: absolute;
    
}


/* Proposal */ 

.Non-Sold {

}


.label{
    background: #fff;
    border-radius: 2px;
    position: static;
    z-index: 99;
    padding: 5px 10px;
    font-weight:700;
    font-size: 14px;
    margin: 20px 0;
   max-width: 175px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.06);
}

body{
    background: #f9f9f9;
}




.bottom-btns {
	display: flex;
	margin-top: 20px;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 1170px;
    margin-bottom: 25px;
}

.bottom-btns p {
	margin: 0;
	margin-left: 10px;
}
.orange-list {
    display: flex;
    align-items: center;
    max-width: 170px;
}
.light-orange-list {
	display: flex;
    align-items: center;
    max-width: 170px;
}
.white-list {
	display: flex;
    align-items: center;
    max-width: 170px;
}
.dark-green-list {
	display: flex;
    align-items: center;
    max-width: 170px;
}
.light-green-list {
	display: flex;
    align-items: center;
    max-width: 170px;
}


.dark-red-list {
	display: flex;
    align-items: center;
    max-width: 170px;
}


.line-red-01{
    position: absolute;

}

.line-red-outer{

}
.line-red .dark-green-btn, .line-red .white-btn{
    position:static;
}


.line-red{
background: #d62628;
position: absolute;
display: flex;
justify-content: space-between;
align-items: center;
height: 8px;
border-radius: 25px;
}

.bd-slide i{
    margin-left: 5px;
    font-size: 12px;
}

.bd-slide .btn{
    box-shadow: none !important;
    position:relative;
}


.position-relative{
    position: relative;

}

.bd-slide:before{
    content:"";
    width: 3px;
    right: 32px;
    position: absolute;
    bottom:95px;
    top: 0;
    background:#97d02b;
    z-index: -1;

}

.first-arrow-none::after{
  display: none;
}
.bd-slide .btn::before{
    content: "";
    position: absolute;
    width: 1287px;
    height: 3px;
    top: 12px;
    right: 0;
    left: 182px;
    border-bottom: 3px dashed#ddd

}
.visit{
    position: relative;
}
.visit:before {
    content:var(--test);
    font-weight:600 !important;
    position: absolute;
    width: 1253px;
    left: 184px;
    top: -23px;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
    font-size: 18px;

}




@media(max-width: 1679px) {
    .visit:before {
        font-size: 15px !important;
        width: 1120px;
        font-weight: bold !important;
    }
    .bd-slide .btn::before{
        width: 1000px;
        content: "";
        position: absolute;
        width: 1133px;
        height: 3px;
        top: 12px;
        right: 0;
        left: 182px;
        border-bottom: 3px dashed#ddd
    
    }
    

}